- content_for :title, user.name

- if Errbit::Config.use_gravatar && gravatar = gravatar_url(user.email, :s => 86)
  - content_for :title_style do
    background: url('#{gravatar}') no-repeat;
    padding-left: 106px;

- content_for :action_bar do
  
  = link_to t('.edit'), edit_user_path(user), :class => 'button'
  = link_to t('.destroy'), user_path(user), :method => :delete,
    :data => { :confirm => t('users.confirm_delete') }, :class => 'delete button'

%table.single_user
  %tr
    %th= t('.email')
    %td.main= user.email
  - if Errbit::Config.user_has_username
    %tr
      %th= t('.username')
      %td.main= user.username
  
  %tr
    %th= t('.admin')
    %td= user.admin? ? 'Y' : 'N'
  %tr
    %th= t('.created')
    %td= user.created_at.to_s(:micro)

