%table.apps
  %thead
    %tr
      %th= t('.name')
      
      %th=t('.errors')
  %tbody
    - apps.each do |app|
      %tr
        %td.name= link_to app.name, app_path(app)
        
        %td.count
          - if app.problem_count > 0
            - unresolved = app.unresolved_count
            = link_to unresolved, app_path(app), :class => (unresolved == 0 ? "resolved" : nil)
    - if apps.none?
      %tr
        %td{:colspan => 3}
          %em
            = t('.no_apps')
            = link_to t('.click_to_create'), new_app_path