- content_for :title, app.name

- content_for :meta do
  - if app.current_app_version.present?
    %strong="Latest App Version:"
    = app.current_app_version
  %strong=t('.errors_caught')
  = app.problems.count
  %strong=t('.api_key')
  = app.api_key
- content_for :action_bar do
  - if current_user.admin?
    = link_to t('.edit'), edit_app_path(app), :class => 'button'
  - if all_errs
    = link_to t('.unresolved_errs'), app_path(app, sort: params_sort, order: params_order), :class => 'button'
  - else
    = link_to t('.all_errs'), app_path(app, all_errs: true, sort: params_sort, order: params_order), :class => 'button'

- if app.problems.any?
  %h3.clear=t('.errors')
  %section
    = render 'problems/search', :all_errs => all_errs, :app_id => app.id
  %br
  %section
    .problem_table{:id => 'problem_table'}
      = render 'problems/table', :problems => problems
- else
  %h3.clear=t('.no_error_yet')
  = render 'configuration_instructions_wrapper', :app => app
